<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
  <div>
      <h1>Admin Login</h1>
    <input type="email" name="email" id="admin_email_field" placeholder="Email">
    <input type="password" name="password" id="admin_password_field" placeholder="Password">
    <button onclick='login()'>Login</button><br>
  </div>
</body>
</html>